<{extends file="adm/base.html"}>
<{block name="head"}>
<script type="text/javascript" src="js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
<{/block}>
<{block name="content"}>
<div id="crmCollectionView">
    <h2>發票抽獎</h2>

    <div class="form-inline" >
        <form class="well" method="POST"  id="prizeForm">
            品項<select name="TYPE" id="TYPE" >
                <option value="10000">發票-$10,000</option>
                <option value="5000">發票-$5,000</option>
                <option value="2000">發票-$2,000</option>
            </select>
            名額 <input name="QUANITY" type="number" id="QUANITY" value="1"/>
            開始日期
            <input name="START_TIME" id="START_TIME" type="text" value=""/>
            ~結束日期<input name="END_TIME" id="END_TIME" type="text" value=""/>
            <button type="button" class="btn btn-danger" id="prizeBtn">抽獎</button>
        </form>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>序號</th>
                <th>品項</th>
                <th>名額</th>
                <th>IP</th>
                <th>時間區間</th>
                <th>儲存時間</th>
                <th></th>
            </tr>
            <{foreach from=$itemList item=item}>
            <tr>
                <td><{$item.PR_ID}></td>
                <td>
			<{$item.TYPE}>
                </td>
                <td><{$item.QUANITY}></td>
                <td><{$item.IP}></td>
                <td><{$item.START_TIME}>~<{$item.END_TIME}></td>
                <td><{$item.CREATE_TIME}></td>
                <td><a class="btn btn-primary" href="download.php?prid=<{$item.PR_ID}>">下載</a></td>
            </tr>
            <{/foreach}>
        </thead>
        <tbody class="dealer-list">
        </tbody>
    </table>
</div>

<script>
$(document).ready(function(event){
    $( "#START_TIME" ).datepicker({dateFormat: 'yy-mm-dd'});
    $( "#END_TIME" ).datepicker({dateFormat: 'yy-mm-dd'});
    $('#prizeBtn').click(function(event){
        if($('#QUANITY').val()<1){
            alert("請輸入數量");
            $('#QUANITY').focus();
            return ;
        }
        if($('#START_TIME').val()==''){
            alert("請輸入開始時間");
            $('#START_TIME').focus();
            return ;
        }
        if($('#END_TIME').val()==''){
            alert("請輸入結束時間");
            $('#END_TIME').focus();
            return ;
        }
        var formdata=$('#prizeForm').serialize();
        $.ajax({
            url:'prize.php',
            data:formdata,
            dataType:'json',
            type:'POST',
            success:function(res){
                var html='<form id="prize">';
                html+='<input type="hidden" name="TYPE" value="'+$('#TYPE').val()+'"/>';
                html+='<input type="hidden" name="START_TIME" value="'+$('#START_TIME').val()+'"/>';
                html+='<input type="hidden" name="END_TIME" value="'+$('#END_TIME').val()+'"/>';
                html+='<input type="hidden" name="QUANITY" value="'+$('#QUANITY').val()+'"/>';
                html+='<input type="hidden" name="QUANITY" value="'+$('#QUANITY').val()+'"/>';
                html+='<table class="table table-bordered">';
                html+='<tr><td colspan="5">'+$( "#TYPE option:selected" ).text()+' 中獎名單</td></tr>';
                html+='<tr><td>姓名</td><td>發票號碼</td><td>phone</td><td>id</td><td>IP</td></tr>';
                for(var i in res){
                    var item=res[i];
                    html+="<tr>";
                    html+="<td>"+item.NAME+"</td>";
                    html+="<td>"+item.SN+"</td>";
                    html+="<td>"+item.PHONE+"</td>";
                    html+="<td>uid:"+item.UID+",iid:"+item.IID+"</td>";
                    html+="<td>IP:"+item.IP+"</td>";
                    html+='<input type="hidden" name="UID[]" value="'+item.UID+'"/>';
                    html+='<input type="hidden" name="IID[]" value="'+item.IID+'"/>';
                    html+="</tr>";
                }
                html+='<tr><td colspan="5" class="text-center"><a  class="btn btn-info" id="saveBtn">儲存</a></td></tr>';
                html+='</table></form>';
                $.colorbox({html:html,onComplete :function(){
                    $('#saveBtn').click(function(envet){
                        var formdata=$('#prize').serialize();
                        $.ajax({
                            url:'prizesave.php',
                            type:'POST',
                            data:formdata,
                            dataType:'json',
                            success:function(res){
                                alert(res.msg);
                                if(res.status)
                                       window.location.reload();
                            }
                        });
                    });
                
                }});
            }
        });

    });
});
</script>
<{/block}>
